<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<main>
    <div>
        <form th:action="@{/tryLogin}" method="post">
            <label for="usernameField">Brugernavn:</label>
            <input type="text" name="username" id="usernameField" required>
            <label for="passwordField">Password:</label>
            <input type="password" name="password" id="passwordField" required>
            <button type="submit">Log ind</button>
        </form>
    </div>
</main>
</body>
</html>