<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lejeaftaler</title>
</head>
<body>
<header class="Lejeaftaler">
    <h1>Lejeaftaler</h1>
</header>

<main>
    <form th:action="@{/lejeaftale/create}" method="post">
        <label> Bil Id:</label>
        <input type="number" name="bilId">

        <label> Kunde Id:</label>
        <input type="number" name="kundeId">

        <label>LaKvittering  Id:</label>
        <input type="number" name="laKvitteringId">

        <label> Startsdato:</label>
        <input type="date" name="startDate">

        <label>SlutDate:</label>
        <input type="date" name="slutDate">

        <label>Pris kr:</label>
        <input type="number" name="prisKr">

        <label> Skadematrix Id:</label>
        <input type="number" name="skadeMatrixId">

        <button type="submit">Opret ny lejeaftale</button>
    </form>
    <button type="submit">Vis oversigt over lejeaftaler</button>
    <a th:href="@{'showAllLejeaftaler'}" > Vis Alle Lejeaftalerne</a>


</main>

</body>
</html>