<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opretningspage</title>
</head>
<body>      <!-- Overordnet struktur og logik af Nicklas -->
<main>      <!-- Andre former for opretning tilføjes med nye <form></form>, som -->
    <div>   <!-- alle sender til "/opretUser", men har forskellige slags opretPageType-->
        <form th:action="@{/opretUser}" th:if="${opretPageType == 'createUser'}" method="post">
            <label for="usernameField">Username:</label>
            <input name="username" id="usernameField" type="text"  required>
            <label for="passwordField">Password:</label>
            <input name="password" id="passwordField" type="text" required >
            <label for="sysRoleDropdown">Systemrolle</label>
            <ul id="sysRoleDropdown" >
                <li>
                    <label for="adminRadio">Admin:</label>
                    <input name="sysRole" value="admin" id="adminRadio" type="radio">
                    <label for="drRadio">Dataregistrerer:</label>
                    <input name="sysRole" value="dataregistrerer" id="drRadio" type="radio">
                    <label for="suRadio">Skade Og Udbedring:</label>
                    <input name="sysRole" value="skadeOgUdbedring" id="suRadio" type="radio">
                    <label for="fuRadio">Forretningsudvikler:</label>
                    <input name="sysRole" value="forretningsudvikling" id="fuRadio" type="radio">
                </li>
            </ul>
            <button type="submit">Opret</button>
        </form>
        <form th:action="@{/opretBil}" th:if="${opretPageType == 'createBil'}" method="post">
            <label for="vognnummerField">Vognnummer:</label>
            <input name="vognnummer" id="vognnummerField" type="text">
            <label for="stelnummerField">Stelnummer:</label>
            <input name="stelnummer" id="stelnummerField" type="text">
            <label for="maerkeField">Mærke:</label>
            <input name="maerke" id="maerkeField" type="text">
            <label for="modelField">Model:</label>
            <input name="model" id="modelField" type="text">
            <label for="udstyrsNiveauField">UdstyrsNiveau:</label>
            <input name="udstyrsNiveau" id="udstyrsNiveauField" type="number">
            <label for="staalprisField">Stålpris:</label>
            <input name="staalpris" id="staalprisField" type="number">
            <label for="regAfgiftField">Registreringsafgift:</label>
            <input name="regAfgift" id="regAfgiftField" type="number">
            <label for="co2UdledningField">co2Udledning:</label>
            <input name="co2Udledning" id="co2UdledningField" type="number">
            <button type="submit">Opret</button>
        </form>

        <form th:action="@{/opretSkade}" th:if="${OpretPageType=='createSkade'}" method="post">
            <label for="beskrivelseField">Beskrivelse</label>
            <input name="beskrivelse" id="beskrivelseField" type="text">
            <label for="omkostningField">Omkostning</label>
            <input name="omkostning" id="omkostningField" type="number">
            <label for="registreringsDateField">RegistreringsDate</label>
            <input name="registreringsDate" id="registreringsDateField" type="date">
            <button type="submit">Opret</button>
        </form>

<!--        skabelon til oprettelse-->
<!--        <form th:action="@{/opret}" th:if="${OpretPageType==''}" method="post">-->
<!--           <label for="Field"></label>
            <input name="" id="Field" type="">
            <label for="Field"></label>
            <input name="" id="Field" type="">
           <button type="submit">Opret</button>-->
<!--        </form>-->

    </div>
</main>
</body>
</html>