<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oversigtspage</title>
</head>
<body>
<header>
    <div> <!-- Til hvis vi eventuelt vil have navigation i oversigts header -->
<!--        <div th:if="${user.getSysRole() == 'admin' or 'dataregistrerer'}">-->
<!--            <a th:href="@{/oversigtBil}" type="button">Biloversigt</a>-->
<!--        </div>-->
    </div>
</header>
<main>
    <div>
        <div th:each="bil : ${bilList}" th:if="${oversigtPageType == 'oversigtBil'}">
            <div>
                <h3 th:text="${bil.bilmodel.maerke +' - '+ bil.bilmodel.model + ' - ' + bil.vognnummer}"></h3>
                <form th:action="@{/updateStatusBil}" method="post">
                    <input name="bilId" th:value="${bil.id}" hidden>

                    <input name="oversigtPageType" th:value="${oversigtPageType}" hidden>

                    <div th:if="${bil.statusBil =='reserveret'
                         and (user.sysRole == 'bilTech' or user.sysRole == 'admin')}">
                        <input name="updateStatus" value="udlejet" hidden>
                        <button type="submit">Update</button>
                    </div>

                    <div th:if="${bil.statusBil=='udlejet'
                     and (user.sysRole == 'dataregistrerer' or user.sysRole == 'admin')}">
                    <input name="updateStatus" value="skalTilses" hidden>
                    <button type="submit">Update</button>
                        </div>

                    <div th:if="${bil.statusBil == 'skalTilses'
                    and (user.sysRole == 'bilTech' or user.sysRole == 'admin')}">
                        <input name="updateStatus" value="salgsKlar" hidden>
                        <button type="submit">Update</button>
                    </div>




                </form>
                <form>

                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>

