<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brugerside</title>
</head>
<body>
<main>  <!-- Opret struktur her lavet af Nicklas -->
  <div> <!--Alle opretninger tilføjes her. Husk at definere hvilke roller der må se dem -->
      <form th:action="@{/getCreatePage}" method="get">
          <label for="opret">Opretninger</label>
          <select name="opretPageType" id="opret" onchange="this.form.submit()">
              <option hidden>Vælg opretning</option>
              <option value="createUser" th:if="${user.getSysRole() == 'admin'}"  >Opret Bruger</option>
              <option value="createLejeaftale" th:if="${user.getSysRole() == 'admin' or 'dataregistrerer'}" >Opret Lejeaftale</option>
              <option value="createBil" th:if="${user.getSysRole() == 'admin' or  'dataregistrerer'}" >Opret Bil</option>
              <option value="createForhaandsaftale" th:if="${user.getSysRole() == 'admin' or 'dataregistrerer'}" >Opret Forhåndsaftale</option>
              <option th:if="${user.getSysRole() == 'admin'}"></option>
          </select>
      </form>
  </div>
  <div>
      <label for="oversigt">Oversigter</label>
      <div  id="oversigt">
          <form th:action="@{/getOversigtBil}" method="get">
              <input value="oversigtBil" name="oversigtPageType"  hidden>
              <button type="submit" >Biloversigt</button>
          </form>
      </div>
  </div>
</main>
</body>
</html>
<!--<form th:action="@{/getOverviewPage}" method="get">-->
<!--    <label for="oversigt">Oversigter</label>-->
<!--    <select name="oversigtPageType"  onchange="this.form.submit()">-->
<!--        <option hidden>Vælg Oversigt</option>-->
<!--        <option value="oversigtBil" th:if="${user.getSysRole() == 'admin' or 'dataregistrerer' or 'skadeOgUdbedring' or 'forretningsudvikler'}">Biler</option>-->
<!--    </select>-->
<!--</form>-->